# IntelliJ
.idea/
*.iml

# Compilados
out/
target/
*.class

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/